<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UsuariosEstacionamiento" value="UsuariosEstacionamiento"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!-- Para envio del correo-->
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="AdminUser" value="sistemas@atrexchile.cl"/>
    <add key="AdminPassword" value="PuroRobot.,11"/>
    <add key="SMTPName" value="smtp.office365.com"/>
    <add key="SMTPPort" value="587"/>
  </appSettings>
  <connectionStrings>
    <add name="AspNetSqlServer" connectionString="Data Source=192.168.45.23;Initial Catalog=UsersIngreso;Persist Security Info=True;User ID=sa;Password=newatrex.2018" providerName="System.Data.SqlClient"/>
    <add name="SolicitudIngresoConnectionString" connectionString="Data Source=192.168.45.23;Initial Catalog=SolicitudIngreso;User ID=sa;Password=newatrex.2018" providerName="System.Data.SqlClient"/>
	<add name="EstadisticaConnectionString" connectionString="Data Source=192.168.45.30;Initial Catalog=AUDITORIA;Persist Security Info=True;User ID=sa;Password=newatrex.2018" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <authentication mode="Forms">
      <forms name="Login" loginUrl="IngresoSistema.aspx"/>
    </authentication>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetSqlServer" applicationName="/" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <remove name="AspNetSqlProfileProvider"/>
        <add name="AspNetSqlProfileProvider" connectionStringName="AspNetSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <!-- Nombre del usuario -->
        <add name="Nombre" type="string"/>
        <add name="RoleName" type="string"/>
        <add name="DespachadorID" type="string"/>
        <add name="DespachadorRut" type="string"/>
        <add name="DespachadorDvRut" type="string"/>
        <add name="DespachadorNombre" type="string"/>
        <add name="RutaCertificado" type="string"/>
      </properties>
    </profile>
    <roleManager defaultProvider="SqlProvider" enabled="true">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AspNetSqlServer" applicationName="/"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
</configuration>